<mat-list-item *ngIf="((checkerId$ | async) || (canAdd$ | async)) && (isRefreshing$ | async) === false">
  <form #editCheckerWorkflowPathForm="ngForm" fxLayout="row" fxLayoutAlign="start center" class="w-100">
    <div fxFlex>
      <strong matTooltip="Checker workflow of this tool/workflow that tests it">Checker Workflow</strong>:
      <span *ngIf="(noChecker$ | async) && ((isPublic$ | async) || (canRead && !canWrite))"> n/a</span>
    </div>
    <div class="btn-group" role="group">
      <a
        [routerLink]="checkerWorkflowURL$ | async"
        id="viewCheckerWorkflowButton"
        *ngIf="(checkerWorkflowURL$ | async) && (isRefreshing$ | async) === false"
        type="button"
        class="btn btn-link"
      >
        <mat-icon>visibility</mat-icon> View
      </a>
      <span *ngIf="(isPublic$ | async) === false">
        <button
          id="addCheckerWorkflowButton"
          #addCheckerWorkflowButton
          *ngIf="(canAdd$ | async) && canWrite"
          type="button"
          class="accent-1-dark"
          mat-button
          (click)="add()"
        >
          <mat-icon>add</mat-icon> Add
        </button>
        <!-- <button *ngIf="checkerWorkflowPath" type="button" class="btn btn-link" (click)="delete()">
          <mat-icon>clear</mat-icon> Delete
        </button> -->
      </span>
    </div>
  </form>
</mat-list-item>
<mat-list-item *ngIf="parentId$ | async">
  <strong matTooltip="The parent entry of this checker workflow">Parent Entry</strong>:
  <button id="viewParentEntryButton" type="button" mat-button (click)="viewParentEntry()"><mat-icon>visibility</mat-icon> View</button>
</mat-list-item>
